<!DOCTYPE HTML>
<html>
<head>
  <title>Annette Fontanilla</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="Annette Fontanilla">
  <meta name="description" content="Professional Services Engineer working at a big data company in the San Francisco Bay area. Security enthusiast and focused on all things Splunk. Experienced in full stack web development, infrastructure, linux and routing.">
  <meta property="og:site_name" content="Annette Fontanilla">
  <meta property="og:title" content="Annette Fontanilla">
  <meta property="og:description" content="Professional Services Engineer working at a big data company in the San Francisco Bay area. Security enthusiast and focused on all things Splunk. Experienced in full stack web development, infrastructure, linux and routing.">
  <link rel="stylesheet" href="../assets/css/main.css" />
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-1977544305533142",
    enable_page_level_ads: true
  });
</script> 
-- INSERT --

</head>
  <body>
<!-- Contact -->
  <section class="spotlight style1 orient-right content-align-center image-position-center onscroll-image-fade-in" id="fourth">
    <div class="content">
      <p>
        <span style="padding-left:20px"><a href="../index.html" ><i class="fa fa-home fa-lg"></i></a><span style="padding-left:5px">Home</a></span> </span>
        <span style="padding-left:30px"><a href="blog.html"><i class="fa fa-heart fa-lg"></i></a><span style="padding-left:5px"> Blog</span></span>
        <span style="padding-left:30px"><a href="projects.html"><i class="fa fa-wrench fa-lg"></i></a><span style="padding-left:5px"> Projects</span></span>
        <span style="padding-left:30px"><a href="http://github.com/annettefo" target="_blank"><i class="fa fa-github fa-lg"></i></a><span style="padding-left:5px"> Code</span></span>
      </p>

      <div class="inner">
        <h2>My Projects</h2>
        <p>This is a <strong>under construction</strong>.
          <!-- It can behave as a lightbox (when given the <code>lightbox</code> class), and you can customize its <span class="demo-controls">appearance with a number of modifiers</span>, as well as assign it an optional <code>onload</code> or <code>onscroll</code> transition modifier (<a href="#reference-gallery">details</a>). -->
        </p>
      </div>
<!-- Additional Elements -->
